html {
  height: 100vh
}

body {
  height: 100%;
  color: purple;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
}

.main-svg {
  height: 100%;
  width: 100%;
  place-self: center;
}
