:root {
  --crimson: #981e32;
  --crimson-accent: #c60c30;
  --green: #8f7e35;
  --green-accent: #ada400;
  --orange: #b67233;
  --orange-accent: #f6861f;
  --blue: #4f868e;
  --blue-accent: #00a5bd;
  --yellow: #c69214;
  --yellow-accent: #ffb81c;
  --grey: #5e6a71;
  --bg: #f9f9f9;
}
