@use 'colors';

html {
  height: 100vh
}

body {
  background: var(--bg);
  height: 100%;
  margin: 0px;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.6fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "controls"
    "main";
}
.controls { grid-area: controls; }
.main { grid-area: main; }

.div-controls {
  background: var(--crimson);
  height: 100%;
  width: 100%;
}

.svg-main {
  height: 100%;
  width: 100%;
  place-self: center;
}
